<div class="container">
    <div class="header"></div>
    <div class="body-login">
        <div class="header-login">
            <img src="../../../assets/user.svg" alt="">
        </div>
        <div class="form-container">
            <h2>Login</h2>
            <form action="/">
                <div class="input-container">
                    <input type="text" class="input-login" placeholder="Usuário">
                </div>
                <div class="input-container">
                    <input type="password" class="input-login" placeholder="Senha">
                </div>
                <button class="button"  routerLink="/home">Entrar</button>
            </form>
        </div>
    </div>
    <div class="footer"></div>
</div>